.media_desk {
    display: block;
}
.media_mob {
    display: none;
}
.clearrb {
    clear: both;
}
.jpdesec {
    width: 100%;
    background-color: #fff;
    text-align: center;
    margin-top: 60px;
    padding-top: 0px;
}

/* news sletters */

.media_news {
    width: 100%;
    background-color:#DBE3F0;
    text-align: center;
    margin-top: 60px;
    padding: 15px 0px 64px 0px;
}
.media_sletters {
    padding-top: 0px;
    margin: 60px 60px 0px 60px;
}
.media_mg {
    position: relative;
    float: left;
    width: 33%;
}
.media_hveff:hover {
    position: absolute;
    top: 12px;
    bottom: 12px;
    left: 34px;
    right: 34px;
    background-color: #5a5a5ae0;
}
p.media_hvtext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    color: #000;
}
img.sletter_img {
    width: 363px;
}

/* event */
.media_event {
    width: 80%;
    background-color:#fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
}
 .column {
    float: left;
    width: 25%;
    padding: 12px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  figcaption {
    text-align: center;
    font-size: 12px;
    color: #000;
    padding: 7px 0px 0px 0px;
}
p.fig_txt {
    text-align: center;
    padding: 3px 0px 0px 0px;
}
.media_evimg {
    margin-top: 36px;
}

/* article */

.media_article {
    width: 80%;
    background-color:#fff;
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
}
.row_article {
    padding: 28px 0px 28px 0px
}
.column_article {
    float: left;
    width: 16%;
    padding: 12px;
  }
  .row_article:after {
    content: "";
    display: table;
    clear: both;
  }

/* know more */

.media_knwmr {
    width: 100%;
    background-color:#DBE3F0;
    text-align: center;
    margin-top: 60px;
    padding: 15px 0px 64px 0px;
}
p.media_kwmrtext {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    color: #366094a6;
}
p.media_fdtext {
    text-align: center;
}
.btn_mor{
    font-size: 10px;
    border: 1px solid #325a8c73;
    background: #fff;
    color: #325a8cf0;
    padding: 6px;
    text-align: center;
    width: 8%;
    margin-top: 20px;
}

/*****************SLick Code**********************/
/* 
.slick-prev {
    background-image: url('../img/arrow_left.png') !important;
    background-size: 50px 50px !important;
    display: inline-block !important;
    width: 50px !important; 
    height: 50px !important;
    content:"" !important;
}
.slick-next {
    background-image: url('../img/arrow_right.png') !important;
    background-size: 50px 50px !important;
    display: inline-block !important;
    width: 50px !important; 
    height: 50px !important;
    content:"" !important;
} */

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    opacity: .75;
    color: #000 !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-dots {
    
    bottom: -28px !important;
}

@media only screen and (max-width: 768px){

    .media_desk {
        display: block;
    }
    .media_mob {
        display: none;
    }

}